.fedreg{
    font-family: "ltr-federal", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 60px;
    line-height: 10px;
}

body {
  margin: 0;
  background: #efefef;
  font-family: "ltr-federal", serif;
}

.hero {
  position: relative;
  height: 224px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-text {
  position: absolute;
  inset: 0;
}

/* center horizontally */
.bg-text1,
.bg-text2,
.bg-text3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* adjust vertical spacing */
.bg-text1 { top: 0px; }
.bg-text2 { top: 90px; }  
.bg-text3 { top: 190px; }

.bg-text div {
  font-size: 100px;   
  font-weight: 700;
  color: #d3daf3;
  line-height: 0.5;
  letter-spacing: 5px;
}

.title {
  position: relative;
  z-index: 2;
  font-size: 70px;
  color: #7a94e1;
  margin: 0;
  background: #efefef;   /* same as body background */
  padding: 46px 30px 35px;  
}

.letter-link {
  color: #bfccf9;          /* same color as rest of word */
  text-decoration: none;   /* remove underline */
  transition: color 0.3s ease;
}

.letter-link:hover {
  color: #f79aab;          /* hover color */
}

.letter-label1,
.letter-label2,
.letter-label3,
.letter-label4 {
  position: absolute;
  transform: translateX(-50%);
  font-size: 16px;
  letter-spacing: normal;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
  transform: translateX(-50%) translateY(-5px);
}

.letter-label1{
  top: 140%;
  left: 17.5%;
}

.letter-label2{
  top: 140%;
  left: 41.5%;
}

.letter-label3{
  top: 140%;
  left: 64%;
}

.letter-label4{
  top: 140%;
  left: 84%;
}

.letter-link:hover .letter-label1 {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}

.letter-link:hover .letter-label2 {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}

.letter-link:hover .letter-label3 {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}

.letter-link:hover .letter-label4 {
  opacity: 1;
  transform: translateX(-50%) translateY(5px);
}

.diagonal-container {
  position: relative;
  width: 500px;  
  height: 500px;
  margin-left: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* both layers fill the container */
.top,
.bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top {
  background-image: url("../images/clouds.jpg");
  background-size: cover;
  clip-path: polygon(0 0,100% 0,0 100%);
  border-radius: 10px;
}

.bottom {
  background-image: url("../images/silly.JPG");
  background-size: cover;
  clip-path: polygon(0 100%,100% 0,100% 100%,0 100%);
  border-radius: 10px;
}

.diagonal-container :hover{
  transform: scale(1.05);
}

.border {
  width: 100%;
  height: 120px;
  margin: 40px auto;
  background: #ecb3be;  
  color:white;
  text-align: center;
  font-family: Helvetica; 
  mask: 
    linear-gradient(0,#0000 60px,#000 0) 0 30px,
    radial-gradient(30px,#000 calc(100% - 1px),#0000) 50%/53px 60px repeat space;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.intro {
  margin: 40px;
  padding: 30px;
  background-color: #a7bbde;
  color: white;
  border-radius: 20px;
  font-family: Helvetica;
  max-width: 650px;
}

.wave span {
  display: inline-block;
  animation: jump 1s ease-in-out infinite;
  color: white;
  font-family: Helvetica;
  letter-spacing: 5px;
  line-height: 80px;
}

@keyframes jump {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
}

/* fish style */
.fish {
  position: absolute;
  width: 80px;
  cursor: pointer;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #ffc5d0;
  cursor: pointer;
  border-radius: 10px;
  color: #7a94e1;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #d8a2ac;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #7a94e1;
   color: #ffc5d0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.blog-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;   /* distributes text nicely */
  
  width: 400px;
  height: 260px;

  padding: 24px;
  margin: 12px;

  background: #ffc5d0;
  border-radius: 12px;

  border: 1px solid #e8e8e8;
  box-shadow: 0 6px 12px rgba(0,0,0,0.05);

  cursor: pointer;
  transition: all 0.3s ease;

  overflow: hidden;
}

.blog-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.08);
}

.blog-entry {
  display: none;
}

.blog-card p {
  font-size: 14px;
  line-height: 1.5;
  color: #7a94e1;
  overflow: hidden;
}

.blog-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #7a94e1;
}

.read {
  font-size: 13px;
  color: #7a94e1;
}

div.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  width: 100vw;
  scrollbar-width: thin;
}

div.scroll-container img {
  padding: 10px;
  width: 300px;
  vertical-align: middle;
}
  
.clickableImage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease; 
  margin: auto;
}

.clickableImage:hover {  opacity: 0.8;
  transform: scale(0.9);}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding: 30px;
  margin: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  width: 80%; 
  max-width: 900px;
  height: auto;
  background-color: #ffc5d0; 
  border-radius: 15px;
  color: #7a94e1;
}

.modal-content {
  margin: 20px;
  display: block;
  width: auto; 
  max-width: 60%;
  max-height: 50%;
  object-fit: contain;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #7a94e1;
  padding: 10px 0;
  height: 150px;
  font-size:x-large;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #7a94e1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.contact-page{
  max-width:600px;
  margin:40px auto;
  text-align:center;
}


.contact-form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact-form input,
.contact-form textarea{
  padding:14px;
  border:1px solid #e8e8e8;
  border-radius:10px;
  font-size:16px;
  font-family:inherit;
}

.contact-form textarea{
  min-height:140px;
  resize:vertical;
}

.contact-form button{
  padding:14px;
  border:none;
  border-radius:10px;
  background:#f3a9b7;
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.contact-form button:hover{
  opacity:0.8;
  transform:translateY(-2px);
}


.web-portfolio {
  max-width: 1500px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
}



.web-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.web-card {
  background-color: #7a94e1;
  width: 1500px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: Helvetica;
  color: #ffc5d0;
  padding: 10px;
}

.web-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.preview-frame {
  width: 100%;
  height: 300px;
  border: 2px solid #ddd;
  border-radius: 8px;
}